$MainColor : #FF6060;
$SecondColor : white;
$BackColor : #F6F6F6;

.slider {
    position: relative;
    height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    @media screen and (max-width: 768px) {
        height: 255px;
        margin: 25px 0px 20px 0px;
    }

    .slider__img {
        width: 80vw;
        // width: 1150px;
        height: 415px;
        border-radius: 25px;
        object-fit: cover;

        @media screen and (max-width: 768px) {
            height: 255px;
            // width: 325px;
            width: 87vw;
        }
    }

    .slider__icon {
        position: absolute;
        top: 45%;
        z-index: 10;
        cursor: pointer;
        user-select: none;

        @media screen and (max-width: 768px) {
            height: 24px;
            width: 24px;
        }
    }
    
    .slider__icon--left {
        left: 30px;

        @media screen and (max-width: 768px) {
            left: 10px;
        }
    }    
    
    .slider__icon--right {
        right: 30px;

        @media screen and (max-width: 768px) {
            right: 10px;
        }
    }

    .slide {
        opacity: 0;
        transition-duration: 1s linear;
    }

    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
    }

    .slide__number {
        z-index: 10;
        position: absolute;
        bottom: 25px;
        color: $SecondColor;
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        padding: 5px 15px;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}