$MainColor : #FF6060;
$SecondColor : white;
$BackColor : #F6F6F6;

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .tag__name {
        color: $SecondColor;
        font-size: 14px;
        background-color: $MainColor;
        margin-right: 5px;
        border-radius: 10px;
        padding: 2px 20px;

        @media screen and (max-width: 480px) {
            font-size: 10px;
        }
    }
}
