$MainColor : #FF6060;
$SecondColor : white;
$BackColor : #F6F6F6;

.informations-container {
    display: flex;
    justify-content: space-between;

    .housing__infos {
        margin: 0px 100px;
        color: $MainColor;
        margin-bottom: 20px;

        h1 {
            font-size: 36px;
            line-height: 50px;
        }

        h3 {
            font-size: 18px;
        }
    }
}

.housing__collapse {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 30px;

    .collapse__btn {
        width: 580px;
    }

    .collapse__text {
        max-width: 580px;
        margin: 0;
    }
}