$MainColor : #FF6060;
$SecondColor : white;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 30px;
    color: $SecondColor;
    max-width: 100%;
    height: 200px;
    margin-top: 50px;

    .footer__text {
        font-size: 24px;

        @media screen and (max-width: 480px) {
            font-size: 12px;
        }
    }
}